<!DOCTYPE html>
<html lang="es">
 <%- include('../partials/head',{title:"Administrador"}) %> 
<body>

  <%- include('../partials/header') %> 
    <main>
        <h1>Admin</h1>
        <a href="/admin/create">
            <button type="button" class="btn btn-primary">Crear Producto</button>
        </a>
        <a href="/admin/<%= redirection %>">
          <button type="button" class="btn btn-warning"><%= redirection === "history" ?  "Historial Productos" : "Listado de Productos" %></button>
      </a>
        <div class="table-responsive">
          <div class="filtros col-12 d-flex flex-wrap" id="filter">
            <div class="col-12 my-1">
              <input class="form-control" name="nombre" type="text" placeholder="Name">
            </div>
            <div class="col-3 my-1">
              <select class="form-select" name="categoriasId" aria-label="Default select example">
                <option value="0" selected>Categoria</option>
                <% categorias.forEach(categoria => { %>
                  <option value="<%= categoria.id %>"><%= categoria.nombre %> </option>
                <% }) %>
              </select>
            </div>
            <div class="col-3 my-1">
              <select class="form-select" name="marcasId" aria-label="Default select example">
                <option value="0" selected>Marca</option>
                <% marcas.forEach(marca => { %>
                  <option value="<%= marca.id %>"><%= marca.nombre %> </option>
                <% }) %>
              </select>
            </div>
            <div class="col-3 my-1">
              <select class="form-select" name="orderDirect" aria-label="Default select example">
                <option value="0" selected>Order By</option>
                <option value="ASC">Ascendente</option>
                <option value="DESC">Descendente</option>
              </select>
            </div>
          </div>


          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria</th>
                <th scope="col">Marca</th>
                <th scope="col">Nombre producto</th>
                <th scope="col"></th>
                <th scope="col">stock</th>
                <th scope="col">Precio</th>
                <th scope="col">Des</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody id="contain-tbody">
  
            </tbody>
          </table>

          <div class="col-12 d-flex justify-content-between align-items-center">

            <div class="col-2 size " id="size">
              <select class="form-select" name="size" aria-label="Default select example">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>
            </div>
  
            
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end" id="pages-links">
              </ul>
            </nav>
            
          </div>

          <template id="tempale-tbody">
            <tr>
                        
              <th id="id" scope="row"><a href=""></a></th>
              <th id="categoria"><a href=""></a></th>
              <th id="marca"><a href=""></a></th>
              <td id="nombre" colspan="2"><a href=""></a></td>
              <td id="stock"><a href=""></a></td>
              <td id="precio"><a href=""></a></td>
              <td id="descuento"><a href=""></a></td>
              <td>
                  <div>
                      <a id="btn-edit" href="">
                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                      </a>
                      <form id="btn-delete" action="" method="post">
                        <button type="submit" id="eliminar-producto" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                      </form>
                  </div>
              </td>
            
            </tr>
          </template>
        </div>
    </main>
    <script src="/javascripts/sweetAlert.js"></script>
    <script src="/javascripts/paginacion.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>