<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{title: 'Login'}) %> 
    <body class="login">

        <%- include('../partials/header') %> 

        <main>
            <h1>Bienvenid@s</h1>
            <form action="" method="post">
                <div class="container bottom">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu email">
                    <% if (locals.errors && errors.email) { %>
                        <small><%= errors.email.msg %></small>
                    <% } %>
                </div>
                <div class="container bottom">
                    <label for="pass">Contraseña</label>
                    <input type="password" name="pass" id="pass" placeholder="Ingresa tu contraseña">
                    <% if (locals.errors && errors.pass) { %>
                        <small><%= errors.pass.msg %></small>
                    <% } %>
                </div>
                <div class="recordarme bottom">
                    <input type="checkbox" name="recordarme" id="recordarme">
                    <label for="recordarme">Recordarme</label>
                </div>
                <button type="submit">Ingresar</button>
            </form>
        </main>
        <%- include('../partials/footer') %> 
</body>
</html>