<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head',{title: 'Register'}) %> 

<body class="register">

    <%- include('../partials/header') %> 

    <main>
        <h1>Registro</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="container bottom">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" placeholder="Ingresa tu nombre" value="<%= locals.old && old.name ? old.name : null%>">
                <% if (locals.errors && errors.name) { %>
                    <small><%= errors.name.msg %></small>
                <% } %>
            </div>
            <div class="container bottom">
                <label for="lastname">Apellido</label>
                <input type="text" name="lastname" id="lastname" placeholder="Ingresa tu apellido" value="<%= locals.old && old.lastname ? old.lastname : null%>">
                <% if (locals.errors && errors.lastname) { %>
                    <small><%= errors.lastname.msg %></small>
                <% } %>
            </div>
            <div class="container bottom">
                <label for="name">Email</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email" value="<%= locals.old && old.email ? old.email : null%>">
                <% if (locals.errors && errors.email) { %>
                    <small><%= errors.email.msg %></small>
                <% } %>
            </div>
            <div class="container bottom">
                <label for="pass">Contrase単a</label>
                <input type="password" name="pass" id="pass" placeholder="Ingresa tu Contrase単a">
                <% if (locals.errors && errors.pass) { %>
                    <small><%= errors.pass.msg %></small>
                <% } %>
            </div>
            <div class="container bottom">
                <label for="pass2">Confirma tu contrase単a</label>
                <input type="password" name="pass2" id="pass2" placeholder="Confirmar Contrase単a">
                <% if (locals.errors && errors.pass2) { %>
                    <small><%= errors.pass2.msg %></small>
                <% } %>
            </div>
            <h2 class="bottom">Pais de nacimiento</h2>
            <div class="container bottom">
                <select name="pais" id="pais">
                    <option value="" selected hidden >Selecciona una opcion</option>
                    <option value="argentina" >Argentina</option>
                    <option value="brasil">Brasil</option>
                    <option value="chile">Chile</option>
                    <option value="colombia">Colombia</option>
                    <option value="uruguay">Uruguay</option>
                    <option value="colombia">Colombia</option>
                </select>
                <% if (locals.errors && errors.pais) { %>
                    <small><%= errors.pais.msg %></small>
                <% } %>
            </div>
            <h2 class="bottom">Genero</h2>
            <div class="bottom">
                <input type="radio" name="genero" id="F" value="F" <%= locals.old && old.genero==='F' ? "checked" : null%> >
                <label for="F">Femenino</label>
                <input type="radio" name="genero" id="M" value="M" <%= locals.old && old.genero==='M' ? "checked" : null%>>
                <label for="M">Masculino</label>
                <input type="radio" name="genero" id="SN" value="SN" <%= locals.old && old.genero==='SN' ? "checked" : null%> >
                <label for="SN">Prefiero no decirlo</label>
                <% if (locals.errors && errors.genero) { %>
                    <small><%= errors.genero.msg %></small>
                <% } %>
            </div>
            <div class="container container-img">
                <label for="image">Subi tu imagen aqui</label>
                <input type="file" name="image" id="image">
                <% if (locals.errors && errors.image) { %>
                    <small><%= errors.image.msg %></small>
                <% } %>
            </div>

            <div class="bottom">
                <input type="checkbox" name="terminos" id="terminos">
                <label for="terminos">Acepto los terminos y condiciones</label>
                <% if (locals.errors && errors.terminos) { %>
                    <small><%= errors.terminos.msg %></small>
                <% } %>
            </div>
            <!-- botones -->
            <button type="submit">Registrarme</button>
            <button type="reset">Cancelar</button>
        </form>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>